@import './src/css/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .wrapper {
        @apply mx-4 my-6 max-w-1200 xl:mx-auto;
    }

	.font-uppercase {
		font-feature-settings:'case' on;
	}
}


li:hover {
    color: blue;
}

nav li {
    margin-top: 13px;
    display: flex;
    gap: 10px;
}

.facebook-plugin {
    width: 40px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
}
